*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.Home{
    /* margin-left: 20px;
    margin-top: 20px; */
    padding: 1rem;
    background-color: green;
    height: 100vh;
    width: 100vw;
}