*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root{
    height: 150px;
    width: 200px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}