*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.user-container{
    background-color: pink;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem;
    /* border-radius: 10px; */
}

#user-img{
    height: 200px;
    width: 150px;
    border-radius: 20%;
}